/* Google 'Poppins' font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

root {
  -c--lightgrey: #9BA3AF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111010;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  width: 800px;
  margin: auto;
}

.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.header a {
  color: #9BA3AF;
  font-size: 16px;
  text-decoration: none;
  margin: 0 15px;
  transition: 0.2s;
}

.header a:hover {
  color: #fff;
  font-weight: 600;
}

.header .hireButton {
  width: 100px;
  height: 35px;
  border: 3px solid #9BA3AF;
  border-radius: 8px;
  /* padding: 3px 7px; */
  font-size: 16px;
  color: #9BA3AF;
  font-weight: 600;
}