/* Google 'Poppins' font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

root {
  -c--lightgrey: #9BA3AF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111010;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  /* */
  min-height: 200vh;
  padding: 0 560px;
}

.header {
  background-color: aqua;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.test {
  min-height: 500px;
  background-color: antiquewhite;
}